button > a {
  color: white !important;
}

.blog_content a {
  color: #32aa9f !important;
}

@media screen and (max-width: 575px) {
  .mobile {
    display: none !important;
  }
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir.otf") format("opentype");
}

body {
  font-family: "Avenir";
}

img {
  max-width: 100%;
}

.timeline-Header .timeline-InformationCircle-widgetParent {
  display: none !important;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}
