.contact_section {
  position: relative;

  img {
    object-fit: cover;
    max-width: 100%;
    opacity: 1;
    padding-bottom: 30px;
    margin-bottom: 85px;
    filter: brightness(50%);
  }
  h2,
  h3,
  h4,
  p {
    color: _palette(white) !important;
  }
  .contact_section_info {
    position: absolute;
    width: 92%;
    top: 5px;
    left: 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    h5 {
      color: white;
    }
    h4 {
      font-size: 1.2rem;
    }
  }

  .green {
    color: _palette(bg) !important;
  }
  @include breakpoint(small) {
    .contact_section_right {
      margin-right: 20px;
      h3 {
        font-size: 1.4rem;
      }
    }
    img {
      height: 800px;
      object-fit: cover;
      padding-bottom: 0px;
    }
  }
}

@include breakpoint(small) {
  .banner_contact {
    margin-top: 50px;
  }
}
