.home_about {
  padding: 0px 0;
  p {
    font-size: 18px;
    text-align: center;
    font-weight: 100;
  }
  img {
    max-width: 100%;
  }
  @include breakpoint(small) {
    padding: 0px 30px;
  }
}

.service {
  p {
    color: black;
  }
}
